.form {
  display: flex;
  justify-content: center;
  margin-top: -1.6875rem;
}

.input {
  width: 39.875rem;
  margin-right: 0.5rem;
  background: var(--gray-500);
  border: none;
  height: 3.375rem;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.button {
  font-size: 0.875rem;
  color: var(--white);
  background: var(--blue-200);
  border-radius: 0.5rem;
  border: none;
  width: 5.625rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button svg {
  margin-left: 0.5rem;
}
