.containerTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9.375rem;
  max-width: 46rem;
  margin: 0 auto;
}

.headerTasks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.allTasks {
  font-size: 0.875rem;
  color: var(--blue);
}

.progressTasks {
  font-size: 0.875rem;
  color: var(--purple);
}

.allTasks span {
  background: var(--gray-400);
  color: var(--white);
  border-radius: 62.4375rem;
  padding: 0.125rem 0.5rem;
}

.progressTasks span {
  background: var(--gray-400);
  color: var(--white);
  padding: 0.4375rem 0.5rem;
  border-radius: 62.4375rem;
}

.contentTask {
  display: flex;
  margin-bottom: 0.75rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 4.5rem;
  background: var(--gray-500);
  border: 0.0625rem solid var(--gray-400);
  box-shadow: 0px 0.125rem 0.5rem rgb(0 0 0 / 6%);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.875rem;
}
